body {
    background-color: #1c232a;
    color: #a2a7ac;
    font-family: "Source Code Pro", monospace;
    font-size: 1.50em;
    word-spacing: 0.5em;
}

* {
    box-sizing: border-box;
}

.profile-container {
    display: block;
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    padding: 0;
}

h1{
    font-style: italic;
    letter-spacing: .08em;
    color: #e9ecef;
}

h2 {
    font-size: 1em;
    color: #6e7072;
}

h3 {
    text-align: center;
    color: #e9ecef;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    overflow: hidden;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rbg(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #1c232a;
    width: 80%;
    height: 100%;
    transition: .3s ease;
    opacity: 0;
    color: #e9ecef;
    text-align: center;
}

.about-me{
    width: 100%;
    padding: 5em;
    grid-column-start: 1;
    grid-column-end: 2;
}

.photo {
    max-width: 600px;
}

.selfie {
    width: 100%;
    position: relative;
    margin: auto;
    padding: 0;
    grid-column: 2/2;
    grid-row: 1/2;
    grid-column-start: 2;
    grid-column-end: 2;
}

.selfie:hover .overlay {
    opacity: 1;
}

.graduation {
    width: 100%;
    position: relative;
    margin: auto;
    grid-column: 1/2;
    grid-row: 2/3;
}

.graduation:hover .overlay {
    opacity: 1;
}

.history {
    width: auto;
    padding: 5em;
    margin: auto;
    grid-column: 2/2;
    grid-row: 2/3;
}

.history-2 {
    width: auto;
    padding: 25px;
    margin: 5em;
    grid-column-start: 1;
    grid-column-end: 2;
}

.cat {
    width: 100%;
    position: relative;
    margin: auto;
    padding: 0;
    grid-column: 2/2;
    grid-row: 3/3;
}

.solid {
    width: 90%;
    border-top: 3px solid #6e7072;
}

.lang-tech-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    overflow: hidden;
    margin-bottom: 10%;
    margin-top: 1.5em;
}

.languages {
    width: auto;
    margin: auto;
    padding: 0;
    font-size: 1em;
    color: #a2a7ac;
}

.tech {
    width: auto;
    margin: auto;
    padding: 0;
    font-size: 1em;
}


