/* CSS HEX
--mimi-pink: #ffd6ffff;
--mauve: #e7c6ffff;
--mauve-2: #c8b6ffff;
--periwinkle: #b8c0ffff;
--periwinkle-2: #bbd0ffff;
*/

.shadows-into light-regular {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

body {
    font-family: 'Lora', serif;
    background-image: linear-gradient(150deg, #FFD6FF, #C8B6FF);
}

#note {
    max-width: 250px;
    min-width: 150px;
    min-height: 150px;
    background-color: #FFD6FF;
    padding: 30px;
    font-family: "Shadows Into Light", cursive;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    border: 2px dotted#001233;
    border-radius: 10px;
    float: right;
    display: flex;
}

#login-section {
    background-color: #C8B6FF;
    max-width: 250px;
    height: 50%;
    padding: 40px;
    margin: auto;
    margin-top: 30px;
    border-radius: 5%;
    display: grid;
}


#avatar-login {
    width: 75%;
    margin: auto;
}

#username {
    width: 100%;
    height: 30px;
    margin: auto;
    border-radius: 30px;
    border-color: #001233;
    font-size: 16px;
    padding: 10px;
}

#password {
    width: 100%;
    height: 30px;
    margin: auto;
    border-radius: 30px;
    border-color: #001233;
    font-size: 16px;
    padding: 10px;
    margin-top: 5px;
}

#login-bttn {
    width: 40%;
    height: 30px;
    margin: auto;
    border-radius: 50px;
    background-color: #D8E2DC;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #3c3269;
    margin-top: 25px;
    padding: 0;
}

#login-error {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    color:red;
    opacity: 0;
}

/** new page **/

.main-body {
    position: relative;
    width: 70%;
    padding: 0;

}

.text {
    min-width: 300px;
    max-width: 550px;
    background-color: #C8B6FF;
    overflow: hidden;
    color: #3a322d;
    margin: auto;
    padding: 20px;
}

.profile {
    max-width: 200px;
    height: 600px;
    float: left;
    background-color: #C8B6FF;
    padding: 20px;
    border-radius: 25px;
    margin: 20px;
}

.pfp {
    width: 128px;
    border-radius: 100px;
    padding: 10px;
    border: 2px  solid #BDB2FF;
    display: flex;
    margin: auto;
}

.prof-status {
    margin: auto;
    text-align: center;
    padding: 10px;
}

