body {
    background-color: #212529;
    color: #e9ecef;
    font-family: "Source Code Pro", monospace;
    word-spacing: 0.5em;
}
.profile-container {
    display: block;
    text-align: center;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5pxpx;
    overflow: hidden;
}

.about-me{
    width: auto;
    padding: 25px;
    margin: auto;
    grid-column: 1/2;
    grid-row: 1/2;
}

.selfie {
    max-width: 60%;
    
}

.history {
    width: 500px;
    padding: 25px;
    margin: auto;
    grid-column: 2/2;
    grid-row: 1/2;
}

.history-2 {
    width: 500px;
    padding: 25px;
    margin: auto;
    grid-column: 2/2;
    grid-row: 2/2;
}


