.navbar {
  background-color: #2C1537; 
  display: flex;
  justify-content: center;    
  align-items: center;
  gap: 1rem;                 
  padding: 0.5em 1.5em;     
  border-radius: 20px;     
  margin: 1.5em auto;       
  width: fit-content;        
  box-shadow: 0 4px 12px rgba(0,0,0,0.2); 
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: 200;
  font-size: 2em;
  font-family: 'Roboto Mono', monospace;
  padding: .5em 0.75em; 
  border-radius: 25px;     
}

.navbar a:hover {
  background: #664B72;   
  color: #D9D9D9;       
}

.logo {
  border: 3px solid
}

.logo a:hover {
  background: #2C1537;   
  color: #D9D9D9;       
}
