body {
    font-family: 'Lora', sans-serif;
}

.login-section {
    width: 150px;
    height: auto;
    padding: 10px;
    margin: auto;
}

#username {
    width: fit-content;
    justify-content: center;
    padding: 15px;
    margin: 10px;
}